name: CI

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*.*.*"
  create:
    

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
     
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
    - run: npm ci
    - run: npm test
    - run: npm run build
    - name: Upload Artifact to Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: build.zip    
