name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
     
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
    - run: npm ci
    - run: npm test
    - run: npm run build
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: build.zip
        path: dist
        overwrite: true
    - name: Upload Artifact to Release
      uses: softprops/action-gh-release@v2
      with:
        files: build.zip    
